*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --tb-header: #3460e9;
    --tb-light: #ffffff;
    --tb-footer: #23272a;
    --tb-bottom: #8ea1e1;
}

body{
    font-family: 'Itim', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Unbounded', cursive;
}



/* #region Header */
.link_header{
    height: 50px;
    background-color: var(--tb-header);
    display: flex;
    align-items: center;
    justify-content:center;
}

.banner_link{
    width: 70%;
    height: 30px;
    display: flex;
}

.logo{
    width: 10%;
    height: 100%;
}

.link{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-end;

}

.login{
    width: 10%;
    height: 100%;
}

.container_header {
    background-color: var(--tb-header);
    display: flex;
    align-items: center;
    justify-content:center;
    position: relative;
}

.text_header {
    width: 50%;
    border-radius: 10px;
    position: absolute;
}

/* style banner link */
.link div {
    padding-left: 10px;
    padding-right: 5px;
   }
   
   a{
    text-decoration: none;
    color: var(--tb-light);
    font-size: 12px;
}
   
.login {
    background-color: var(--tb-light);
    height: 100%;
    width: 70px;
    border-radius: 40px;
    border: none;
}

.jumbo{
    width: 100%;
    background-size: contain;
}

.text_title {
    color: var(--tb-light);
    text-align: center;
}

.description_header {
    text-align: center;
    color: var(--tb-light);
    padding-top: 20px;
}

.download_button{
    padding-top: 15px;
    text-align: center;
}

.download{
    background-color: var(--tb-light);
    border-radius: 40px;
    border: none;
    padding: 14px;
}

.download2{
    margin-left: 10px;
    background-color: var(--tb-footer);
    border-radius: 40px;
    border: none;
    padding: 14px;
    color: var(--tb-light);
}
/* /stylebanner */

/* #endregion Header */

/* #region section banner */
.section_banner {
    height: 400px;
  /*   background-color: orange; */
    display: flex;
    align-items: center;
    justify-content:center;
}

.container_banner{
    height: 300px;  
    width: 60%;
    /* background-color: aqua; */
    display: flex;
}

.image_banner{
    width: 60%;
    height: 100%;
    margin-right: 1rem;
    display: flex;
}

.text_banner{
    height: 100%;
    color: var(--tb-footer);
    padding: 1rem;
}

.section_banner2 {
    height: 400px;
  /*   background-color: orange; */
    display: flex;
    align-items: center;
    justify-content:center;
}

.container_banner2{
    height: 300px;  
    width: 60%;
    /* background-color: aqua; */
    display: flex;
}

.text_banner2{
    width: 35%;
    height: 100%;
    color: var(--tb-footer);
}

.image_banner2{
    width: 60%;
    height: 100%;
    margin-right: 1rem;
    display: flex;
}

.banner_p p{
    padding-top: 20px;
    padding-bottom: 20px;
}
/* #endregion section banner */

/* #region section main end */
.main_end{
    margin-top: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
}

.container-main_end{
    
    
    width: 60%;
    position: relative;
    text-align: center;
}

.img_main_end{
    width: 100%;
}


.text-main_end{
    padding-bottom: 20px;
}


.download3{
    margin-left: 10px;
    background-color: var(--tb-bottom);
    border-radius: 40px;
    border: none;
    padding: 14px;
    color: var(--tb-light);
    margin-top: 30px;
    margin-bottom: 100px;
}


/* #endregion section main end */

/* #region columns footer */
.container_footer {
    background-color: var(--tb-footer);
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;

}

.columns{
    background-color: aqua;
    height: 200px;  
    width: 55%;
    display: flex;
}

.col1 {
    background-color: orange;
    width: 40%;
    height: 100%;
    border: 1px solid black;
}

.col2 {
    background-color: green;
    width: 15%;
    height: 100%;
    border: 1px solid black;
}
/* #endregion columns footer */

/* #region banner footer */
.section_footer {
    margin-top: 1px;
    background-color: var(--tb-footer);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content:center;
}

.banner_registration {
    background-color: orange;
    height: 40px;   
    width: 55%;
    display: flex;
    align-items:center;
    justify-content:space-between;
}

.logo-banner{
    background-color: aqua;
    height: 12px;
    width: 35px;
}

.registration-banner{
    background-color: aqua;
    height: 12px;
    width: 35px;
}
/* #endregion banner footer */


